<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Default title for my pages</title>

</head>

<body>
<div>
    <table>
        <thead>
        <tr>
            <th> Name</th>
            <th> Author</th>
            <th> Price</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="book : ${books}">
            <td><span th:text="${book.getBook().getName()}"></span></td>
            <td><span th:text="${book.getBook().getAuthor()}"></span></td>
            <td><span th:text="${book.getBook().getPrice()}"></span></td>

        </tr>
        </tbody>
    </table>
</div>
</body>

</html>